body {
    margin: 15px;
}

.container {
    display: grid;
    grid-gap: 20px;
    height: 800px;
    width: 1000px;
    margin: 0 auto;
    grid-template-rows: [header-start] .5fr [header-end box-start] 1.5fr [box-end main-start] 3fr [main-end footer-start] .5fr [footer-end];
    grid-template-columns: repeat(3, [col-start] 1fr [col-end]) 150px [grid-end];
}

.item {
    background-color: orangered;
    color: white;
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 100;
    padding: 15px;
    
}
.header {
    grid-row: 1/2;
    grid-column: col-start 1/ grid-end;
}
.sidebar {
    grid-column: 4/5;
    grid-row: box-start / main-end;
}
.main {
    grid-column: col-start 1/ col-end 3;
}
.footer {
    grid-row: 4/5;
    grid-column: 1/-1;
}