body {
    background: rgba(blue, .2);
    // margin-top: 30px;
    // margin-left: auto;
    // margin-right: auto;

}

.container {
    display: grid;
    background-color: #eee;
    width: 1000px;
    margin: 40px auto;

    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(1, 150px) 1fr 2fr;
    grid-gap: 30px;
}

.item {
    padding: 20px;
    font-family: sans-serif;
    font-size: 30px;
    color: white;
    &-1 {
        background-color: orange;
    }
    &-2 {
        background-color: green;
    }
    &-3 {
        background-color: violet;
    }
    &-4 {
        background-color: yellow;
    }
    &-5 {
        background-color: blue;
    }
    &-6 {
        background-color: red;
    }
}

